<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TrashToCash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
 	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  	<string>YOUR TEXT</string>
  	<key>NSLocationAlwaysUsageDescription</key>
  	<string>YOUR TEXT</string>
  	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
  		<dict>
    		<key>YOUR-PURPOSE-KEY</key>
    		<string>YOUR TEXT</string>
  		</dict>
  	<key>NSLocationWhenInUseUsageDescription</key>
  	<string>YOUR TEXT</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.trash2cashapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb783325893484605</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.trash2cashapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trashtocash</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.913857544936-qd51ra3rpms6vs67gfdept0c1asllp8r</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>783325893484605</string>
	<key>FacebookClientToken</key>
	<string>2ba9fd56a6c73d09dfddd534823852ba</string>
	<key>FacebookDisplayName</key>
	<string>Trash2Cash</string>
	<key>GIDClientID</key>
	<string>913857544936-qd51ra3rpms6vs67gfdept0c1asllp8r.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This allows you to submit photos of trash being thrown away, so you can earn discounts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This helps Trash2Cash show you businesses near you. These can be configured in Settings.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This helps Trash2Cash show you businesses near you. These can be configured in Settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This helps Trash2Cash show you businesses near you. These can be configured in Settings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microphone is accessed for the first time</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows you to upload profile photos for your account.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows you to upload profile photos for your account.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
